{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSpacing": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "semi": true,
  "tabWidth": 2
}
