name: PR Labeler

on:
  schedule:
    - cron: "0 1 * * 1" # Every Monday at 01:00 UTC
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited
    branches:
      - '**'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  label:
    name: Apply Labels to PRs
    runs-on: ubuntu-latest

    steps:
      - name: Run labeler
        uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  size:
    name: PR Size Labeler
    runs-on: ubuntu-latest

    steps:
      - name: Apply size labels
        uses: pascalgn/size-label-action@v0.5.0
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
